.button
  display: inline-block
  font-size: 19px
  height: 62px
  line-height: 62px
  min-width: 150px
  padding: 0 50px
  font-weight: 600
  background: #93F8FF
  border-radius: 10px
  text-transform: uppercase
  color: black
  cursor: pointer

.outline
  background: none
  border: 2px solid #93F8FF
  color: #93F8FF
