.button
  display: inline-block
  font-size: 19px
  height: 62px
  line-height: 62px
  min-width: 200px
  padding: 0 50px
  font-weight: 600
  letter-spacing: 0.1rem
  background: #93F8FF
  border-radius: 10px
  text-transform: uppercase
  color: black
  cursor: pointer
  transition: all 0.5s ease-in
  border: none
  text-align: center
  &:hover
    background: #33DAFF

  img
    transition: all 0.5s ease-out

.outline
  background: none
  border: 1px solid #93F8FF
  color: #93F8FF
  &:hover
    color: black
    background: #93F8FF
    img
      filter: invert(75%)
