@import './mixins.sass'


html, body
  margin: 0
  padding: 0
*
  box-sizing: border-box

h1,h2,h3,p
  margin: 0

a
  text-decoration: none

@font-face
  font-family: "Gotham Pro"
  src : url("./../common/fonts/GothamPro.ttf")
  font-display: fallback

@font-face
  font-family: "Space Age"
  src : url("./../common/fonts/SpaceAge.otf")
  font-display: fallback

@font-face
  font-family: "Montserrat"
  src : url("./../common/fonts/Montserrat-Regular.ttf")
  font-display: fallback

body
  font-family: "Gotham Pro", Arial
  background: linear-gradient(89.71deg, #00152F 0.2%, #003C6A 99.7%)

form
  display: flex
  flex-direction: column
  padding: 0!important

.myInput
  border: none!important
  width: 500px
  height: 62px
  background: rgba(0, 0, 0, 0.3)
  backdrop-filter: blur(6px)
  border-radius: 10px
  margin-bottom: 10px
  color: white
  padding-left: 33px
  font-size: 14px
  text-transform: uppercase
  font-family: "Gotham Pro"

.myInput::placeholder
  color: white

.myTextArea::placeholder
  color: white

.myTextArea
  border: none!important
  width: 500px
  height: 200px
  background: rgba(0, 0, 0, 0.3)
  backdrop-filter: blur(6px)
  border-radius: 10px
  margin-bottom: 30px
  color: white
  padding-left: 33px
  padding-top: 26px
  font-size: 14px
  font-family: "Gotham Pro"
  text-transform: uppercase

.buttonsBlock
  display: flex
  width: 500px
  justify-content: space-between

.fiels_item
  label
    display: none!important

.btn
  display: inline-block
  font-size: 19px
  height: 62px
  line-height: 62px
  min-width: 200px
  padding: 0 50px
  font-weight: 600
  letter-spacing: 0.1rem
  background: #93F8FF
  border-radius: 10px
  text-transform: uppercase
  color: black
  cursor: pointer
  transition: all 0.5s ease-in
  border: none
  text-align: center
  &:hover
    background: #33DAFF


