html, body
  margin: 0
  padding: 0
h1,h2,h3,p
  margin: 0
@font-face
  font-family: "Gotham Pro"
  src : url("./../common/fonts/GothamPro.ttf")
@font-face
  font-family: "Space Age"
  src : url("./../common/fonts/SpaceAge.otf")

@import './mixins.sass'

.header
  display: flex
  justify-content: space-between
  align-items: center
  height: 80px
  @include wrapper