@import './mixins.sass'


html, body
  margin: 0
  padding: 0

h1,h2,h3,p
  margin: 0

a
  text-decoration: none

@font-face
  font-family: "Gotham Pro"
  src : url("./../common/fonts/GothamPro.ttf")
  font-display: fallback

@font-face
  font-family: "Space Age"
  src : url("./../common/fonts/SpaceAge.otf")
  font-display: fallback

@font-face
  font-family: "Montserrat"
  src : url("./../common/fonts/Montserrat-Regular.ttf")
  font-display: fallback

.header
  display: flex
  justify-content: space-between
  align-items: center
  height: 80px

  @include wrapper

body
  font-family: "Gotham Pro", Arial
  background: linear-gradient(89.71deg, #00152F 0.2%, #003C6A 99.7%)
  box-sizing: border-box