@import 'src/styles/mixins'

.logo
  font-family: Space Age
  margin: 0
  color: #93F8FF
  z-index: 100

.blurLogo
  position: absolute
  font-family: Space Age
  margin: 0
  color: #93F8FF
  opacity: 0.5
  filter: blur(10px)

.logo, .blurLogo
  @include smartphone
    font-size: 45px

  @include tablet
    font-size: 55px

  @include desktop
    font-size: 65px

  @include large-desktop
    font-size: 80px

