@import "../../../styles/mixins"

.main
  position: relative
  width: 100%
  display: flex
  align-items: center
  flex-direction: column
  background-image: url('../../../common/images/index/contactsBg.png')
  background-size: cover
  background-position: center
  overflow: hidden
  z-index: 0

  @include smartphone
    height: 600px
    margin-top: -30px
    padding-top: 30px

  @media (min-width: 750px)
    height: 772px

  @include desktop
    margin-top: -80px
    padding-top: 80px

.backgroundText
  @include backgroundText

  @include smartphone
    font-size: 11vw
    top: 60px

  @include large-desktop
    font-size: 140px
    line-height: 160px

  @media (min-width: 1340px)
    font-size: 160px

.mainTitle
  color: #93F8FF
  font-size: 30px
  text-transform: uppercase

  @include smartphone
    font-size: 18px
    margin-top: 50px
    margin-bottom: 20px

  @include mini-tablet
    margin-top: 80px

  @include tablet
    font-size: 22px
    margin-top: 100px

  @include desktop
    font-size: 30px
    margin-top: 50px
    margin-bottom: 40px

  @include large-desktop
    margin-top: 100px

.content
  @include wrapper

  display: flex
  flex-direction: column
  margin: 0

  @include smartphone
    align-items: center

  @include desktop
    align-items: flex-start

  :global(form)
    display: flex
    flex-direction: column
    padding: 0 !important

  :global(.design__forms_0)
    padding: 0 !important

  :global(.form)
    padding: 0 !important

  :global(.myInput)
    border: none!important
    width: 500px
    height: 62px
    max-width: 100%
    background: rgba(0, 0, 0, 0.3)
    backdrop-filter: blur(6px)
    border-radius: 12px
    color: white
    padding-left: 33px!important
    text-transform: uppercase
    font-family: "Gotham Pro"

    @media (max-width: 550px)
      width: 300px

    @include smartphone
      height: 50px
      font-size: 12px

    @include desktop
      height: 62px
      font-size: 14px

  :global(.myInput::placeholder)
    color: white

  :global(.myTextArea::placeholder)
    color: white

  :global(.myTextArea)
    border: none!important
    width: 500px
    max-width: 100% !important
    background: rgba(0, 0, 0, 0.3)
    backdrop-filter: blur(6px)
    border-radius: 12px
    color: white
    padding-left: 33px !important
    padding-top: 26px !important
    font-size: 14px
    font-family: "Gotham Pro"
    text-transform: uppercase

    @media (max-width: 550px)
      width: 300px

    @include smartphone
      height: 170px
      margin-bottom: 0px
      font-size: 12px

    @include desktop
      height: 150px
      margin-bottom: 20px
      font-size: 14px

  :global(.buttonsBlock)
    display: flex
    width: 500px
    justify-content: space-between

  :global(.fiels_item)
    >label
      display: none !important

  :global(.field_submit)
    @include smartphone
      text-align: center

    @include desktop
      text-align: left

  :global(.btn)
    display: inline-block !important
    font-size: 19px !important
    height: 62px !important
    line-height: 62px !important
    min-width: 200px !important
    padding: 0 50px !important
    font-weight: 600 !important
    letter-spacing: 0.1rem !important
    background: #93F8FF !important
    border-radius: 10px !important
    text-transform: uppercase !important
    color: black !important
    cursor: pointer !important
    transition: all 0.5s ease-in !important
    border: none !important
    text-align: center !important
    margin-top: 0 !important
    font-family: "Gotham Pro"
    &:hover
      background: #33DAFF !important