@import '../../../styles/mixins'

.main
  width: 100%
  margin: 0
  height: 800px
  background-image: url('../../../common/images/index/background_1.png')
  background-size: 105% 100%
  background-repeat: no-repeat
  display: flex
  align-items: center

  @include marginTopMinus

.content
  padding-top: 50px

  @include wrapper

.blockTitle
  font-weight: 700
  font-size: 43px
  line-height: 150%
  color: #93F8FF

.slogan
  font-size: 28px
  line-height: 27px
  color: #FFFFFF
  margin-top: 12px
  margin-bottom: 70px