@import 'src/styles/mixins'

.main
  width: 100%
  display: flex
  justify-content: center

  @include smartphone
    padding-bottom: 20px

  @include tablet
    padding-bottom: 60px


.wrapperBlock
  @include wrapper

  margin: 0

.about
  width: 100%

.mainTitle
  letter-spacing: 0.1em
  text-transform: uppercase
  color: #93F8FF

  @include smartphone
    font-size: 18px
    margin-bottom: 20px

  @include mini-tablet
    margin-bottom: 30px

  @include tablet
    font-size: 22px
    margin-bottom: 40px

  @include desktop
    font-size: 30px

.description, .module, .modules
  line-height: 15px
  color: #FFFFFF

  @include smartphone
    font-size: 14px

  @include tablet
    font-size: 14px

  @include desktop
    font-size: 16px

.description
  @include smartphone
    margin-bottom: 24px

  @include desktop
    margin-bottom: 40px

.modules
  text-decoration: none
  list-style: none
  padding: 0

  @include smartphone
    margin-bottom: 35px

  @include tablet
    margin-bottom: 40px

.module
  span
    margin-left: 15px

  @include smartphone
    margin-top: 10px

  @include desktop
    margin-top: 15px

.contentTechnologies
  display: flex
  justify-content: space-between
  width: 100%

  @include smartphone
    flex-direction: column
    align-items: flex-start

  @include desktop
    flex-direction: row
    align-items: flex-end
    justify-content: space-between

.technologies
  display: flex
  justify-content: space-between

  @include smartphone
    width: 70%

  @include mini-tablet
    width: 350px

  @include desktop
    width: 35%

.item
  display: flex
  flex-direction: column
  align-items: center
  width: 30%

  img
    width: 60%

    @include smartphone
      margin-bottom: 10px

    @include tablet
      margin-bottom: 20px

  p
    line-height: 120%
    text-align: center
    letter-spacing: 0.1em
    text-transform: uppercase
    color: #93F8FF

    @include  smartphone
      font-size: 8px

    @include tablet
      font-size: 12px

    @include large-desktop
      font-size: 16px

.buttonsBlock
  display: flex

  a
    @include smartphone
      font-size: 14px

    @include desktop
      font-size: initial

  @include smartphone
    flex-direction: column
    justify-content: space-between
    padding-top: 20px

    a
      margin-left: 0
      width: 100%
      min-width: initial
      overflow: hidden
      display: flex
      justify-content: center
      margin-top: 10px

  @include mini-tablet
    justify-content: flex-start
    a
      margin-top: 20px

  @include tablet
    flex-direction: row
    a
      margin-right: 20px
      margin-top: 20px

  @include desktop
    width: initial
    a
      margin-top: 0px

  @include large-desktop
    padding-top: 0
    a
      margin-right: 0
      margin-left: 20px
      padding-left: 50px
      padding-right: 50px
      width: initial
      min-width: initial
      max-width: none
      overflow: visible
      display: initial

