@import './../../styles/mixins'

.footer
  width: 100%
  height: 226px
  background-image: url('./../../common/images/footer.png')
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  padding-top: 40px

.footerTitle, .footerUnderBlock
  display: flex
  align-items: center
  justify-content: space-between

  @include wrapper

  nav
    >a:first-child
      padding-left: 0

  @include smartphone
    justify-content: center
    flex-wrap: wrap

  @include tablet
    justify-content: space-between
    flex-wrap: nowrap

.footerUnderBlock
  margin-top: 50px


.author
  color: #93F8FF

  @include smartphone
    font-size: 12px
    text-align: center

  @include tablet
    font-size: 14px
    text-align: left

.mail
  font-weight: 500
  font-size: 19px
  display: flex
  align-items: center
  color: #93F8FF
  img
    width: 20px
    margin-right: 15px

  @include smartphone
    font-size: 14px
    margin-bottom: 26px

  @include tablet
    font-size: 19px
    margin-bottom: 0
