@import "../../../styles/mixins"

.main
  position: relative
  width: 100%
  display: flex
  justify-content: flex-start
  align-items: center
  flex-direction: column

  @include smartphone
    height: auto
    overflow: hidden

  @include tablet
    padding-bottom: 80px

  @include desktop
    height: 700px
    padding-bottom: 0

.backgroundText
  @include backgroundText

  @include smartphone
    line-height: 320%
    width: 100%
    font-size: 35px

  @include mini-tablet
    line-height: 14vw
    font-size: 10vw

  @include large-desktop
    font-size: 145px
    line-height: 120px

.mainTitle
  color: #93F8FF
  text-transform: uppercase

  @include smartphone
    font-size: 18px
    margin-bottom: 0px
    margin-top: 60px

  @include mini-tablet
    margin-top: 50px

  @include tablet
    margin-top: 70px
    font-size: 22px

  @include desktop
    margin-bottom: 50px
    margin-top: 70px
    font-size: 30px

.content
  @include wrapper

  display: flex
  justify-content: space-between
  margin: 0

  @include desktop
    position: relative


.leftBlock
  display: flex
  flex-direction: column
  align-items: center

  @include smartphone
    width: 100%

  @include desktop
    width: 72%

.items
  width: 100%
  display: flex
  justify-content: space-between

  @include smartphone
    flex-direction: column
    align-items: center
    z-index: 10

  @include mini-tablet
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: flex-start

.item
  width: 300px
  height: 280px
  display: flex
  flex-direction: column
  align-items: center

  @include smartphone
    margin-top: 50px

  @include mini-tablet
    width: 47%
    margin-top: 20px

  @include desktop
    width: 33%
    max-width: 300px
    height: 280px
    margin-top: 0

  &:nth-child(2)
    @include desktop
      margin-top: 35px

  &:nth-child(3)
    @include desktop
      margin-top: 70px

.imageBlock
  width: 100%
  display: flex
  justify-content: center

  img
    width: 30%
    margin-right: 10%

  img:last-child
    margin-right: 0



.itemTitle
  color: #93F8FF
  text-transform: uppercase
  margin-top: 20px
  text-align: center
  line-height: 19px

  @include smartphone
    font-size: 16px

  @include mini-tablet
    font-size: 2vw

  @include tablet
    font-size: 14px

  @include large-desktop
    font-size: 16px


.itemText
  color: white
  text-transform: uppercase
  margin-top: 20px
  text-align: center
  width: 80%

  @include smartphone
    font-size: 14px
    line-height: 130%

  @include mini-tablet
    font-size: 1.8vw

  @include tablet
    font-size: 12px

  @include large-desktop
    font-size: 14px
    line-height: 19px


.computerBlock
  @include smartphone
    position: absolute
    top: -190px
    right: -130px
    img
      width: 450px

  @include desktop
    right: calc(5% - 40px)
    top: 40px
    img
      width: 700px


