.nav
  display: flex
  align-items: center
  a
    padding: 1.7vw
    font-family: Gotham Pro
    font-style: normal
    font-weight: normal
    font-size: 17px
    line-height: 16px
    color: #FFFFFF
    text-decoration: none
  a:last-child
    padding-right: 0



