@import 'src/styles/mixins'

.nav
  align-items: center

  @include smartphone
    display: none

  @include desktop
    display: flex
    .item
      padding: 18px
      font-size: 14px

  @include large-desktop
    .item
      padding: 22px
      font-size: 16px

.item
  color: #FFFFFF
  transition: color 0.5s ease-out
  &:hover
    color: #93F8FF

.item:last-child
  padding-right: 0

.scrollNav .item
  @include desktop
    font-size: 14px
    padding: 11px

  @include large-desktop
    font-size: 16px
    padding: 14px
